body {
    background-color: red;
    margin:0;
    padding: 0;
    font-family: 'Satisfy', cursive;
}

h1 {
    font-size: 50px;
    color: yellow;
    text-align: center;
}

div.box {
    float:left;
    width: 50%;
    height: auto;
    background-color: red;
    color: yellow;
    font-size: 30px;
    padding: 20px;
    margin: 50px 25%;
    border-bottom: 5px solid black;
}

div.box h3 {
  color: white;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

div.box p.date {
  font-size: 14px;
  color: white;
}

div#one {
    background: yellow;
}

div#two {
    background: orange;
}
